.footer-content__top {
  background-color: #438cca;
}
.footer-content__bottom {
  background-color: #002e3a;
}
.footer {
}

.footer__title {
  text-align: center;
  padding-top: 7.5rem;
  margin-bottom: -2.5rem;
  color: #002e3a;
  @include adaptiv-font(36, 22);
  font-weight: 400;
}
.footer__address {
  display: flex;
  justify-content: center;
}
.address__container {
  width: 30rem;
  height: 25rem;
  color: $white;
  background-image: url("../img/footer/wave.png");
  @include adaptiv-font(29, 18);
  text-align: center;
}
.address__city {
  margin-top: 4.3rem;
}
.contact__phone {
  margin-top: 2.7rem;
}
.contact__mail {
  margin-top: -1.5rem;
}
.website__address {
  margin-top: 1.2rem;
}
.inn-ogrn {
  margin-top: 4.8rem;
  padding-bottom: 10.5rem;
  text-align: center;
  @include adaptiv-font(20, 12);
  color: $white;
}

.footer-content__bottom--text {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  @include adaptiv-font(24, 12);
}

@media (max-width: 1500px) {
  .website__address {
    margin-top: 3.5rem;
  }
  .contact__phone {
    margin-top: 3.5rem;
  }
  .contact__mail {
    margin-top: -1.5rem;
  }
}

@media (max-width: 767px) {
  .address__city {
    margin-top: 6rem;
  }
  .website__address {
    margin-top: 3.7rem;
  }
  .contact__phone {
    margin-top: 4rem;
  }
  .contact__mail {
    margin-top: -0.7rem;
  }
}
