.partners {
  padding-bottom: 9.5rem;
}

.partners__title {
  padding-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  @include adaptiv-font(31, 18);
  font-weight: 400;
  color: $gray;
}
.partners__text {
  text-align: center;
  @include adaptiv-font(25, 12);
  color: #438cca;
}

.first-line__container,
.second-line__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.first-line__container {
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}
.partners__item {
  margin: 0 0.5rem;
}
.partners__image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  img {
    height: 100%;
  }
}
.partners__image--first {
  margin-bottom: 2.7rem;
}

.partners__image--second {
  margin-bottom: 2rem;
}

.partners__image--seven {
  margin-bottom: 2rem;

  div {
    background-color: #215063;
  }
}

.partners__image--nine {
  margin-bottom: 1.7rem;
}

.partners__image--eleven {
  margin-bottom: 2.5rem;
}

.partners__name {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 265px;
  height: 169px;
  color: #215063;
  text-align: center;
  font-weight: 400;
  @include adaptiv-font(25, 12);
  background-color: #e3f0f6;
  border-radius: 10px;
}

@media (max-width: 1700px) {
  .partners__name {
    width: 230px;
  }
}

@media (max-width: 1450px) {
  .partners__name {
    width: 210px;
    height: 130px;
    @include adaptiv-font(25, 8);
  }
}

@media (max-width: 1330px) {
  .partners__name {
    width: 190px;
  }
}

@media (max-width: 1205px) {
  .partners__name {
    height: 110px;
  }
  .first-line__container {
    flex-wrap: wrap;

    .partners__item {
      margin-top: 1.5rem;
    }
  }
  .second-line__container {
    flex-wrap: wrap;

    .partners__item {
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 767px) {
  .partners__name {
    @include adaptiv-font(25, 12);
  }

  .partners {
    padding-bottom: 4rem;
  }
}
