<section class="about">
  <div class="about__frame">
    <div class="about__image">
      <img src="assets/img/frame.jpg" alt="">
    </div>
    <div class="about__content">
      <p class="about__text">Нева Волга Ладога - компания
        оказывающая полный комплекс
        услуг в сфере судостроения,
        судоремонта и металлоконтрукций</p>
      <div class="about__foundation">Дата образования компании:<br>2006 г.</div>
    </div>
  </div>
  <img src="assets/img/about-wave.png" alt="" class="about-wave__image">
</section>