<section class="career">
  <img src="assets/img/career/career-bg.png" alt="" class="career-bg__image">
  <img src="assets/img/career/worker1.png" alt="" class="career-worker__image1">
  <img src="assets/img/career/worker2.png" alt="" class="career-worker__image2">
  <img src="assets/img/career/worker3.png" alt="" class="career-worker__image3">
  <img src="assets/img/career/wave1.png" alt="" class="career-wave1">
  <img src="assets/img/career/wave2.png" alt="" class="career-wave2">
  <div class="container">
    <h2 class="career__title">Вакансии</h2>
    <div class="career__content">
      <p>нашей компании требуются:</p>
      <ul>
        <li>&ndash; судовой рубщик,</li>
        <li>&ndash; судовой сборщик,</li>
        <li>&ndash; судовой сварщик,</li>
        <li>&ndash; судовой трубопроводчик,</li>
        <li>&ndash; судовой трубомонтажник</li>
      </ul>
      <p class="second-paragraph">Если Вы заинтересованы в работе у нас<br>
        пишите на почту : rabota@nvlspb.ru<br>
        или<br>
        звоните по телефону: 8 812 606 66 32</p>
    </div>
  </div><!-- ./container -->
</section><!-- ./career -->