<section class="certificates">
  <div class="container">
    <div class="certificates__title">cвидетельства и сертификаты</div>
    <div class="cards__row">
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__images">
            <img src="assets/img/certificates/cert1.jpg" alt="">
          </div>
          <p>Свидетельство
            о признании
            № 132206</p>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__images">
            <img src="assets/img/certificates/cert2.jpg" alt="">
          </div>
          <p>Свидетельство
            о соответствии
            предприятия
            Код 22014000</p>
        </div>
      </div>
      <div class="cards__column">
        <div class="cards__item">
          <div class="cards__images">
            <img src="assets/img/certificates/cert3.jpg" alt="">
          </div>
          <p>Сертификат
            требованиям
            ГОСТ Р ИСО</p>
        </div>
      </div>
    </div><!-- ./cards__row -->
  </div><!-- ./container -->
</section><!-- ./certificates -->