<section class="certificates-2">
  <div class="container">
    <div class="bg__image">
      <img src="assets/img/certificates/sea.jpg" alt="">
    </div>
    <div class="bg__image--wave">
      <img src="assets/img/certificates/wave.png" alt="">
    </div>
    <div class="certificates-2__content">
      <div class="content__title">кадры и оборудование</div>
      <p>- ИТР с большим опытом работы и необходимой квалификацией<br>
        - наличие всего сварочного оборудования, включая сварочные аппараты<br>
        - аттестация сварщиков НАКС и морской/речной регистр</p>
    </div>
    <div class="__flex--container">
      <div class="certificates-2__item">
        <div class="certificates-2__image">
          <img src="assets/img/certificates/cert4.png" alt="">
        </div>
        <p>пример свидетельства</p>
      </div>
    </div>
  </div><!-- ./container -->
</section><!-- ./certificates-2 -->