<section class="description">
  <img class="absolute__image" src="assets/img/description/wave.png" alt="картинка">
  <img src="assets/img/description/wave1.png" alt="Картинка" class="absolute__image1">
  <img src="assets/img/our-work/wave.png" alt="Картинка" class="absolute__image2">
  <div class="description__sudoremont">
    <div class="flex__wrap">
      <div class="sudoremont__container">
        <div class="description__title sudoremont__title">Судоремонт.</div>
        <p class="description__text sudoremont__text __text--padding">Предприятие НВЛ осуществляет любые виды корпусных
          и судоре-
          монтных работ, включая
          доковый ремонт, плановый ремонт судна, замена сменно-запасных частей, а также оказывает сервисные услуги
          судовладельцам. Высококвалифицированный персонал, постоянный контроль качества и передовые технологии обеспе-
          чивают высокую скорость реализации и достойное качество всех выполняемых судоремонтных работ.</p>
      </div>
      <div class="sudoremont__image">
        <img src="assets/img/description/sudoremont.jpg" alt="Судоремонт">
      </div>
    </div><!-- ./flex__wrap -->
  </div><!-- ./description__sudoremont -->

  <div class="description__metcon">
    <div class="flex__wrap flex__wrap--reverse">
      <div class="metcon__container">
        <div class="description__title metcon__title">Металлоконструкции.</div>
        <p class="description__text metcon__text __text--padding">НВЛ предлагает услуги по изготовлению
          металлоконструкций различного
          вида и любой
          сложности, обеспечивая быстрое и качественное выполнение необходимых работ по Вашему проекту. Компания «НВЛ»
          использует только высококачественные материалы и современное оборудование, что не только гарантирует
          надежность производимых металлоконструкций, но и высокую скорость выполнения Вашего заказа.</p>
      </div><!-- ./metcon__container -->
      <div class="metcon__image">
        <img src="assets/img/description/metcon.jpg" alt="Металлоконструкции">
      </div>
    </div><!-- ./flex__wrap -->
  </div><!-- .description__metcon -->

  <div class="description__truby">
    <div class="flex__wrap">
      <div class="truby__container">
        <div class="description__title truby__title">Трубопроводные работы.</div>
        <p class="description__text truby__text __text--padding">Нева Волга Ладога осуществляет все виды трубопроводных
          систем на судне.
          Опытные и
          высококвалифицированные специалисты НВЛ произведут полную или частичную замену судовых трубопроводных систем и
          их необходимый ремонт, а также ремонт и очистку теплооб- менных аппаратов с последующими гидравлическими
          испытаниями. Для производства и ремонта трубопроводов из цветных металлов используется технология
          аргонно-дуговой сварки. НВЛ выполняет также работы по ремонту и монтажу трубок паровых котлов и топок.
        </p>
      </div><!-- ./truby__container -->
      <div class="truby__image">
        <img src="assets/img/description/Truby.jpg" alt="Трубопроводные работы">
      </div>
    </div> <!-- ./flex__wrap -->
  </div> <!-- ./description__truby -->

  <div class=" description__svarka">
    <div class="flex__wrap flex__wrap--reverse">
      <div class="svarka__container">
        <div class="description__title svarka__title">Сборочно-сварочные работы</div>
        <p class="description__text svarka__text">НВЛ производит сборочно-сварочные работы по
          изготовлению секций
          корпусов судна,
          которые затем проходят рентгеновский, ультразвуковой и магнитно-порошковый контроль. Квалифицированные
          сварщики, владеющие технологиями ручной, автоматической и полуавтоматической сварки в среде защитных газов
          (аргон, смеси, углексилый газ), качественно и быстро выполнят все необходимые работы.</p>
      </div> <!-- ./svarka__container  -->
      <div class="svarka__image">
        <img src="assets/img/description/svarka-metal.jpg" alt="Сборочно-сварочные работы">
      </div>
    </div><!-- ./flex__wrap -->
  </div><!-- ./description__svarka -->

  <div class="description__sudostroenie">
    <div class="flex__wrap">
      <div class="sudostroenie__container">
        <div class="description__title sudostroenie__title">Судостроение.</div>
        <p class="description__text sudostroenie__text __text--padding">Судостроительное и судоремонтное предприятие
          НВЛ, обладая
          необходимым
          оборудованием и
          производственными мощностями, предлагает полный спектр судостроительных услуг: судомонтажные работы, а также
          все виды сборочно-сварочных работ, постройку, переоборудование, модернизацию.</p>
      </div><!-- ./sudostroenie__container -->
      <div class="sudostroenie__image">
        <img src="assets/img/description/sudostroenie.jpg" alt="Судостроение">
      </div>
    </div><!-- ./flex__wrap -->
  </div><!-- ./description__sudostroenie -->
</section> <!-- ./description -->