<footer class="footer" id="footer-link">
  <div class="footer-content__top">
    <div class="container">
      <h2 class="footer__title">
        контакты
      </h2>
      <div class="footer__address">
        <div class="address__container">
          <div class="address__city">г. Санкт-Петербург</div>
          <div class="contact__phone">тел.:8 (812) 606 66 32</div>
          <div class="contact__mail">info@nvlspb.ru</div>
          <div class="website__address">WWW.NVLSPB.RU</div>
        </div>
      </div>
      <p class="inn-ogrn">ИНН: 7814346593<br>
        ОГРН: 5067847079284</p>
    </div><!-- ./container -->
  </div><!-- ./footer__content -->
  <div class="footer-content__bottom">
    <div class="container">
      <div class="footer-content__bottom--text">“НВЛ” ИМЕЕТ СВИДЕТЕЛЬСТВО О СООТВЕТСВИИ ПРЕДПРИЯТИЯ РОССИЙСКОМУ МОРСКОМУ
        И РЕЧНОМУ РЕГИСТРУ СУДОХОДСТВА</div>
    </div><!-- ./container -->
  </div><!-- ./footer-content__bottom -->
</footer><!-- ./footer -->