<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__logo">
        <a href="#">
          <img src="assets/img/logotype.png" alt="">
        </a>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
      <div class="header__menu">
        <ul class="header__list">
          <li><a href="#" class="header__link">главная</a></li>
          <li><a href="#" class="header__link">наша<br> деятельность</a></li>
          <li><a href="#" class="header__link">свидетельства и<br> сертификаты</a></li>
          <li><a href="#" class="header__link">вакансии</a></li>
          <li><a href="#" class="header__link">выполненные<br> работы</a></li>
          <li><a href="#" class="header__link">контакты</a></li>
        </ul>
      </div>
    </div>
  </div><!-- ./container -->
</header><!-- ./header -->