<section class="our-work" id="our-work-link">
  <img src="assets/img/our-work/wave.png" alt="картинка" class="our-work__image">
  <div class="container __container">
    <div class="our-work__title">Наша основная деятельность</div>
    <div class="our-work__container">
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon1.png" alt="картинка"></div>
        <div class="item__title item__title--left">Судостроение</div>
        <p class="item__text item__text--left">постройка,<br> переоборудование,<br> модернизация судов</p>
      </div>
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon2.png" alt="картинка"></div>
        <div class="item__title">Судоремонт</div>
        <p class="item__text">дефектация<br> корпусов, ремонт<br> корпусов, очистка,<br> окраска</p>
      </div>
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon3.png" alt="картинка"></div>
        <div class="item__title item__title--right">Сборочно-сварочные<br> работы</div>
        <p class="item__text item__text--right">автоматическая,<br> полуавтоматическая,<br> аргонная, ручная сварка</p>
      </div>
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon4.png" alt="картинка"></div>
        <div class="item__title item__title--left">Металлоконструкции</div>
        <p class="item__text item__text--left">любой сложности,<br> емкости, сваи и т.д.</p>
      </div>
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon5.png" alt="картинка"></div>
        <div class="item__title item__title-5">Трубопроводные<br> работы</div>
        <p class="item__text">сварка, монтаж</p>
      </div>
      <div class="our-work__item">
        <div class="item__image"><img src="assets/img/our-work/icon6.png" alt="картинка"></div>
        <div class="item__title item__title--right">Мобильные судоремонтные<br> бригады</div>
        <p class="item__text item__text--right">ремонт судов на<br> воде</p>
      </div>
    </div><!-- ./our-work__container -->
  </div><!-- ./container -->
</section><!-- ./our-work -->