<section class="partners">
  <div class="container">
    <div class="partners__title">Партнёры НВЛ</div>
    <p class="partners__text">Компания НВЛ сотрудничает с ведущими предприятиями в области судостроения и
      судоремонта.<br>
      НВЛ - надежный, проверенный временем и совместной работой подрядчик.
    </p>
    <div class="first-line__container">
      <div class="partners__item">
        <div class="partners__image partners__image--first"><img src="assets/img/partners/1.jpg" alt=""></div>
        <div class="partners__name">
          <p>Объединённая судостроительная корпорация</p>
        </div>
      </div>
      <div class="partners__item">
        <div class="partners__image partners__image--second"><img src="assets/img/partners/2.jpg" alt=""></div>
        <p class="partners__name">Нори́льский
          Ни́кель</p>
      </div>
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/3.jpg" alt=""></div>
        <p class="partners__name">Балтийский завод</p>
      </div>
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/4.jpg" alt=""></div>
        <p class="partners__name">Адмиралтейские верфи</p>
      </div>
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/5.jpg" alt=""></div>
        <p class="partners__name">Невский судостроительно-судоремонтный завод</p>
      </div>
    </div><!-- ./first-line__container -->
    <div class="second-line__container">
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/6.jpg" alt=""></div>
        <p class="partners__name">Выборгский судостроительный
          завод</p>
      </div>
      <div class="partners__item">
        <div class="partners__image partners__image--seven">
          <div class="div"><img src="assets/img/partners/7.png" alt=""></div>
        </div>
        <p class="partners__name">Компания
          Усть-Луга</p>
      </div>
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/8.jpg" alt=""></div>
        <p class="partners__name">Лотос</p>
      </div>
      <div class="partners__item">
        <div class="partners__image partners__image--nine"><img src="assets/img/partners/9.jpg" alt=""></div>
        <p class="partners__name">Канонерский судоремонтный завод</p>
      </div>
      <div class="partners__item">
        <div class="partners__image"><img src="assets/img/partners/10.jpg" alt=""></div>
        <p class="partners__name">Северная Верфь</p>
      </div>
      <div class="partners__item">
        <div class="partners__image partners__image--eleven"><img src="assets/img/partners/11.jpg" alt=""></div>
        <p class="partners__name">Морской завод &laquo;Алмаз&raquo;</p>
      </div>
    </div><!-- ./second-line__container -->
  </div><!-- ./container -->
</section><!-- ./partners -->