<section class="work-performed" id="work-performed-link">

  <img src="assets/img/our-performed/wave1.png" alt="" class="work-performed__image1">
  <img src="assets/img/our-performed/wave2.png" alt="" class="work-performed__image2">
  <div class="container">
    <div class="work-performed__title">Выполненные работы</div>
    <div class="work-performed__container">
      <div class="performance__item">
        <div class="work-performed-item__image">
          <img src="assets/img/our-performed/1.jpg" alt="Картинка">
        </div>
        <p class="work-performed-item__text">РОСАТОМ. Формирование и сборка ПЭБ на субподряде у
          Балтийского завода.
        </p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="assets/img/our-performed/2.jpg" alt="Картинка"></div>
        <p class="work-performed-item__text text--padding">Плавучие краны на субподряде завода Алмаз.</p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="assets/img/our-performed/3.jpg" alt="Картинка"></div>
        <p class="work-performed-item__text text--padding">Ледокол &laquo;Москва&raquo; на субподряде у Балтийского
          завода.</p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="assets/img/our-performed/4.jpg" alt="Картинка"></div>
        <p class="work-performed-item__text text--padding-2">Различные катера, буксиры, баржи на субподряде у Невского
          судостроительно-
          судоремонтного
          завода.</p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="#" alt=""></div>
        <p class="work-performed-item__text">МИСТРАЛЬ. Формирование корпуса на субподряде у Балтийского завода</p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="#" alt=""></div>
        <p class="work-performed-item__text text--padding-2">Спасатели проекта СНП07 на субподряде у Невского
          судостроительно-
          судоремонтного завода.
        </p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="#" alt=""></div>
        <p class="work-performed-item__text text--padding-3">Очистные ёмкости для Норильского Никеля.</p>
      </div>
      <div class="performance__item">
        <div class="work-performed-item__image"><img src="#" alt=""></div>
        <p class="work-performed-item__text text--padding-3">Оболочка свай для порта Усть-Луга.</p>
      </div>
    </div><!-- ./work-performed__container -->
    <div class="youtube__container">
      <iframe style="z-index: 5;" width="64%" height="300" src="https://www.youtube.com/embed/zAQGZNU279E"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div><!-- ./youtube__container -->
  </div><!-- ./container -->
</section><!-- ./work-performed -->