/* =============================================   Цвета ======================================================== */

$header__bg: #002e3a;
$white: #fff;
$black: #000;
$about_bg: #002e3a;
$light_blue: #438cca;
$gray: #636463;

/* ============================================Размер экранов==================================================== */
$maxWidth: 1903;
$mw: 1648;
$md1: 1685;
$md2: 767;

/* ============================================================================================================== */

$widthFrame: 1213;
